.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel div {
    scroll-snap-align: start;
    flex: 0 0 100%;
    height: 100vh;
  }
  
  .carousel-move {
    animation: carouselMove 1s forwards;
  }
  
  .carousel-move-back {
    animation: carouselMoveBack 1s forwards;
  }
  
  @keyframes carouselMove {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }  