<section class="flex items-center justify-center h-screen overflow-hidden font-poppins xl:p-20">
    <div class="container px-6 py-10 mx-auto">
    <h2 class="text-3xl font-bold text-center text-gray-900 lg:text-5xl">¿Por qué elegir HabitaU?</h2>
    <div class="flex items-center justify-center mt-5 text-lg font-normal text-gray-700">
        <p>Descubre qué más podemos ofrecerte</p>
    </div>
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
            <div class="flex flex-col items-center p-6 space-y-5 text-center bg-gray-50 rounded-xl ">
                <span class="inline-block w-20 p-3 text-blue-500 rounded-full bg-orange-50">
                    <img src="https://i.postimg.cc/6pkbM3wW/easy-to-use.png" alt="Ilustración mano chesqueando los dedos">
                </span>

                <h3 class="text-2xl font-semibold text-gray-900">Facilidad</h3>

                <p class="text-gray-500">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                </p>
            </div>

            <div class="flex flex-col items-center p-6 space-y-5 text-center bg-gray-50 rounded-xl ">
                <span class="inline-block w-20 p-3 text-blue-500 rounded-full bg-purple-50">
                    <img src="https://i.postimg.cc/bv1CWhNQ/atencion-al-cliente.png" alt="Ilustración atención personalizada">
                </span>

                <h3 class="text-2xl font-semibold text-gray-900">Atención personalizada</h3>

                <p class="text-gray-500 ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                </p>
            </div>

            <div class="flex flex-col items-center p-6 space-y-5 text-center bg-gray-50 rounded-xl">
                <span class="inline-block w-20 p-3 text-blue-500 rounded-full bg-sky-50">
                    <img src="https://i.postimg.cc/Jnm6W2GS/website.png" alt="Ilustración computadora simulando información personal">
                </span>

                <h3 class="text-2xl font-semibold text-gray-900">Rápido y en línea</h3>

                <p class="text-gray-500">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
                </p>
            </div>
        </div>
    </div>
</section>