<section class="bg-white font-poppins">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6 lg:h-screen lg:flex lg:items-center">
        <div class="max-w-screen-sm mx-auto text-center">
            <h1 class="mb-4 font-extrabold tracking-tight text-blue-700 text-7xl lg:text-9xl">404</h1>
            <p class="mb-4 text-3xl font-bold tracking-tight text-black-700 md:text-4xl">Falta algo.</p>
            <p class="mb-4 text-lg font-light text-gray-500 ">Lo sentimos, no podemos encontrar esa página. Encontrará muchas cosas para explorar en la página de inicio. </p>
            <a routerLink="" routerLinkActive="true"
                class="inline-flex text-white bg-blue-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">Volver al inicio</a>
        </div>
    </div>
</section>