<section class="py-16 pt-20 bg-white font-poppins">
    <div class="container px-6 m-auto space-y-8 text-gray-500 md:px-12 lg:px-20">
        <div class="justify-center gap-6 text-center md:text-left md:flex lg:items-center lg:gap-16">
            <div class="order-last mb-6 space-y-6 md:mb-0 md:w-6/12 lg:w-6/12">
                <h1 class="text-4xl font-bold text-gray-900 md:text-5xl">Espacios destacados en <span
                        class="text-blue-700">HabitaU</span></h1>
                <p class="text-lg">Sé parte de los espacios que brindan la mejor atención y comodidad a estudiantes universitarios.
                </p>
                <div class="flex flex-row-reverse flex-wrap justify-center gap-4 md:gap-6 md:justify-end">
                </div>
            </div>
            <div class="grid grid-cols-5 grid-rows-4 gap-4 md:w-5/12 lg:w-6/12">
                <div class="col-span-2 row-span-4">
                    <img src="https://i.postimg.cc/Y2QStJ95/sincerely-media-4e1fqzqx2r0-unsplash.jpg"
                        class="rounded-full" width="640" height="960" alt="shoes" loading="lazy">
                </div>
                <div class="col-span-2 row-span-2">
                    <img src="https://i.postimg.cc/bN8wr3Ss/emmanuel-ikwuegbu-UVlm-Ni4-Ca-BQ-unsplash.jpg"
                        class="object-cover object-top w-full h-full rounded-xl" width="640" height="640" alt="shoe"
                        loading="lazy">
                </div>
                <div class="col-span-3 row-span-3">
                    <img src="https://i.postimg.cc/ncHnprNm/brooke-cagle-g1-Kr4-Ozfoac-unsplash.jpg"
                        class="object-cover object-top w-full h-full rounded-xl" width="640" height="427" alt="shoes"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>