<div class="flex justify-center min-h-screen pt-20">
    <div class="hidden bg-cover rounded-r-3xl lg:block lg:w-2/5"
        style="background-image: url('https://i.postimg.cc/hG5pWnL3/linkedin-sales-solutions-u3hmzw5-U-SI-unsplash.jpg')">
    </div>

    <div class="flex items-center w-full max-w-3xl mx-auto lg:px-12 lg:w-3/5 font-poppins">
        <div class="w-full">
            <h1 class="text-3xl font-bold text-gray-800">
                Crea tu cuenta
            </h1>

            <p class="mt-4 text-gray-500">
                Ingresa los datos para crear tu cuenta
            </p>

            <form>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div class="mt-6">
                        <label for="country" class="block mb-2 text-sm font-medium text-gray-900">
                            Perfil de usuario</label>
                        <div class="mt-3 md:flex md:items-center md:-mx-2">
                            <button
                                class="flex items-center justify-center w-full px-4 py-2 text-blue-500 border border-blue-500 rounded-full hover:bg-blue-700 hover:text-white md:w-auto md:mx-2 focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
                                </svg>

                                <span class="mx-2">
                                    Arrendatario
                                </span>
                            </button>

                            <button
                                class="flex items-center justify-center w-full px-4 py-2 mt-4 text-blue-500 border border-blue-500 rounded-full hover:bg-blue-700 hover:text-white md:mt-0 md:w-auto md:mx-2 focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                </svg>

                                <span class="mx-2">
                                    Estudiante
                                </span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <!-- <div>
                        <label for="country" class="block mb-2 text-sm font-medium text-gray-900">
                            Tipo de documento</label>
                        <select id="country" name="country" autocomplete="country"
                            class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <option>- Selecciona una opción -</option>
                            <option>Tarjeta de identidad</option>
                            <option>Cedula de ciudadania</option>
                        </select>
                    </div>
                    <div>
                        <label for="document" class="block mb-2 text-sm font-medium text-gray-900">Número de
                            identidad</label>
                        <input type="number" id="document"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="1002392080" pattern="[0-9]{3}" required>
                    </div> -->
                    <div>
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Nombre(s)</label>
                        <input type="text" id="first_name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="Nombre" required>
                    </div>
                    <div>
                        <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 ">Apellidos</label>
                        <input type="text" id="last_name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="Apellido" required>
                    </div>
                    <div>
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Teléfono</label>
                        <input type="tel" id="phone"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo
                            electrónico</label>
                        <input type="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="nombre@correo.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                        <input type="password" id="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="•••••••••" required>
                    </div>
                    <div>
                        <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">Confirmar
                            contraseña</label>
                        <input type="password" id="confirm_password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="•••••••••" required>
                    </div>
                </div>
                <div class="flex items-start mb-6">
                    <div class="flex items-center h-5">
                        <input id="check" type="checkbox" value=""
                            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                            required>
                    </div>
                    <label for="check" class="ml-2 text-sm font-medium text-gray-900">Acepto <a href="#"
                            class="text-blue-600 hover:underline">términos y condiciones generales </a> y <a href="#"
                            class="text-blue-600 hover:underline"> la política de tratamiento de
                            datos</a>.</label>
                </div>
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center">Crear
                    cuenta</button>
            </form>
        </div>
    </div>
</div>