<div class="flex justify-center min-h-screen px-8 pt-20">
    <div class="hidden bg-cover rounded-r-3xl lg:block lg:w-2/5"
        style="background-image: url('https://i.postimg.cc/hG5pWnL3/linkedin-sales-solutions-u3hmzw5-U-SI-unsplash.jpg')">
    </div>

    <div class="flex items-center w-full max-w-3xl mx-auto lg:px-12 lg:w-3/5 font-poppins">
        <div class="w-full">
            <h1 class="text-4xl font-bold text-gray-800">
                Crea tu cuenta
            </h1>

            <p class="text-gray-500 ">
                Ingresa tus datos para registrar tu información en HabitaU
            </p>

            <h3 class="my-4 text-xl font-semibold text-gray-800">
                Datos básicos
            </h3>

            <!-- #formularioRegister="ngForm"  -->
            <form [formGroup]="registerForm" (ngSubmit)="enviarData()" novalidate>
                <div class="gap-6 mb-6">
                    <label for="country" class="block mb-2 text-sm font-medium text-gray-900">
                        Perfil de usuario
                    </label>

                    <ul class="grid w-full gap-6 md:grid-cols-2">
                        <li>
                            <input formControlName="perfilUsuario" type="radio" id="estudiante" [value]="2"
                                class="hidden peer" name="perfilUsuario" required>

                            <label for="estudiante"
                                class="inline-flex items-center justify-between w-full px-3 py-2 text-blue-500 border border-blue-500 rounded-full cursor-pointer peer-checked:border-blue-600 peer-checked:text-white peer-checked:bg-blue-700 hover:text-blue-500 hover:bg-gray-100">

                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                    </svg>

                                    <span class="mx-2 font-normal">
                                        Estudiante
                                    </span>
                                </div>
                            </label>
                        </li>

                        <li>
                            <input formControlName="perfilUsuario" type="radio" id="arrendatario" [value]="3"
                                class="hidden peer" name="perfilUsuario" required>

                            <label for="arrendatario"
                                class="inline-flex items-center justify-between w-full px-3 py-2 text-blue-500 border border-blue-500 rounded-full cursor-pointer peer-checked:border-blue-600 peer-checked:text-white peer-checked:bg-blue-700 hover:text-blue-500 hover:bg-gray-100">

                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
                                    </svg>

                                    <span class="mx-2 font-normal">
                                        Arrendatario
                                    </span>

                                </div>
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900">Nombre(s)</label>
                        <input formControlName="nombres" type="text" id="nombres" name="nombres"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="Digite su nombre" required>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('nombres')?.touched && registerForm.get('nombres')?.errors?.['required']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>Este campo es requerido</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('nombres')?.touched && registerForm.get('nombres')?.errors?.['minlength']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Minimo {{ registerForm.get('nombres')?.errors?.['minlength']?.requiredLength }}
                                caracteres en ese campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('nombres')?.touched && registerForm.get('nombres')?.errors?.['maxlength']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p> Maximo {{ registerForm.get('nombres')?.errors?.['maxlength']?.requiredLength }}
                                caracteres en este campo</p>
                        </div>
                    </div>
                    <div>
                        <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 ">Apellidos</label>
                        <input formControlName="apellidos" type="text" id="apellidos" name="apellidos" name="apellidos"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="Digite sus apellidos" required>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('apellidos')?.touched && registerForm.get('apellidos')?.errors?.['required']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>Este campo es requerido</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('apellidos')?.touched && registerForm.get('apellidos')?.errors?.['minlength']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Minimo {{ registerForm.get('apellidos')?.errors?.['minlength']?.requiredLength }}
                                caracteres en ese campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('apellidos')?.touched && registerForm.get('apellidos')?.errors?.['maxlength']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p> Maximo {{ registerForm.get('apellidos')?.errors?.['maxlength']?.requiredLength }}
                                caracteres en este campo</p>
                        </div>
                    </div>
                    <div>
                        <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900">Teléfono</label>
                        <input formControlName="telefono" type="text" id="telefono" name="telefono"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="3004567890" required>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.errors?.['required']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>Este campo es requerido</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.errors?.['minlength']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Minimo {{ registerForm.get('telefono')?.errors?.['minlength']?.requiredLength }}
                                caracteres en ese campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.errors?.['maxlength']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p> Maximo {{ registerForm.get('telefono')?.errors?.['maxlength']?.requiredLength }}
                                caracteres en este campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.errors?.['pattern']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Ingrese un numero de telefono valido</p>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo
                            electrónico</label>
                        <input formControlName="correoElectronico" type="email" id="email" name="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="nombre@correo.com" required>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('correoElectronico')?.touched && registerForm.get('correoElectronico')?.errors?.['required']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>Este campo es requerido</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('correoElectronico')?.touched && registerForm.get('correoElectronico')?.errors?.['minlength']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Minimo {{ registerForm.get('correoElectronico')?.errors?.['minlength']?.requiredLength }}
                                caracteres en ese campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('correoElectronico')?.touched && registerForm.get('correoElectronico')?.errors?.['pattern']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Ingrese un correo electronico valido</p>
                        </div>
                    </div>
                </div>

                <h3 class="my-4 text-xl font-semibold text-gray-800">
                    Datos de acceso
                </h3>

                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Usuario</label>
                        <input formControlName="usuario" type="text" id="username" name="username"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="Digite su usuario" required>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('usuario')?.touched && registerForm.get('usuario')?.errors?.['required']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>Este campo es requerido</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('usuario')?.touched && registerForm.get('usuario')?.errors?.['minlength']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Minimo {{ registerForm.get('usuario')?.errors?.['minlength']?.requiredLength }}
                                caracteres en ese campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('usuario')?.touched && registerForm.get('usuario')?.errors?.['maxlength']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p> Maximo {{ registerForm.get('usuario')?.errors?.['usuario']?.requiredLength }}
                                caracteres en este campo</p>
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                        <input formControlName="contrasena" type="password" id="password" name="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="•••••••••" required>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('contrasena')?.touched && registerForm.get('contrasena')?.errors?.['required']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p>Este campo es requerido</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('contrasena')?.touched && registerForm.get('contrasena')?.errors?.['minlength']">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>Minimo {{ registerForm.get('contrasena')?.errors?.['minlength']?.requiredLength }}
                                caracteres en ese campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('contrasena')?.touched && registerForm.get('contrasena')?.errors?.['maxlength']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p> Maximo {{ registerForm.get('contrasena')?.errors?.['maxlength']?.requiredLength }}
                                caracteres en este campo</p>
                        </div>
                        <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                            *ngIf="registerForm.get('contrasena')?.touched && registerForm.get('contrasena')?.errors?.['pattern']">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>

                            <p>La contraseña debe contener al menos una letra mayúscula, una minúscula y un número</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-start mb-6">
                    <div class="flex items-center h-5">
                        <input formControlName="checkValidacion" id="check" type="checkbox" value="" required
                            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
                    </div>
                    <label for="check" class="ml-2 text-sm font-medium text-gray-900">Acepto <a href="#"
                            class="text-blue-600 hover:underline">términos y condiciones generales </a> y <a href="#"
                            class="text-blue-600 hover:underline"> la política de tratamiento de
                            datos</a>.</label>
                    <div class="flex gap-1 text-red-500 text-xs italic mt-2"
                        *ngIf="registerForm.get('checkValidacion')?.touched && registerForm.get('checkValidacion')?.errors?.['required']">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd" />
                        </svg>
                        <p>Debe aceptar las politicas de tratamiento de datos</p>
                    </div>
                </div>
                <div class="grid w-full gap-6 md:grid-cols-2">
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center">Crear
                        cuenta</button>

                    <button type="reset"
                        class="text-black hover:underline focus: font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Limpiar
                        campos</button>
                </div>
            </form>
        </div>
    </div>
</div>