<section class="flex items-center justify-center overflow-hidden font-poppins xl:p-24">
    <div class="py-5 bg-white">
        <div class="container px-6 m-auto text-gray-600 md:px-12 xl:px-6">
            <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-40">
                <div class="relative mt-10 lg:-mx-4 relative-20 lg:mt-0 lg:col-start-1">
                    <div class="relative space-y-4">
                        <div class="flex items-end justify-center space-x-4 lg:justify-start">
                            <img class="w-32 rounded-lg shadow-lg md:w-56" width="200"
                                src="https://i.postimg.cc/fLDCZ2cH/good-faces-Om-RLlv-DQk-Mk-unsplash.jpg" alt="1" />
                            <img class="w-40 rounded-lg shadow-lg md:w-64" width="260"
                                src="https://i.postimg.cc/7LM1B3FS/kinga-cichewicz-HYc-XUU-m-Lw-E-unsplash.jpg"
                                alt="2" />
                        </div>
                        <div class="flex items-start justify-center ml-12 space-x-4 lg:justify-start">
                            <img class="w-24 rounded-lg shadow-lg md:w-40" width="170"
                                src="https://i.postimg.cc/nrL19XwB/sincerely-media-6i-H0o-De-YEVI-unsplash.jpg"
                                alt="3" />
                            <img class="w-32 rounded-lg shadow-lg md:w-56" width="200"
                                src="https://i.postimg.cc/bwn9ncLC/kinga-cichewicz-HHw9lc0og-Is-unsplash.jpg" alt="4" />
                        </div>
                    </div>
                </div>
                <div class="xl:md:7/12 lg:w-6/12">
                    <h2 class="text-3xl font-bold text-center text-gray-900 md:text-4xl md:ml-10 md:text-start"><span class="text-blue-600">HabitaU</span> es para ti!</h2>
                    <p class="mt-6 text-base text-center text-gray-600 md:text-base md:ml-10 md:text-start">¡Eres nuestra prioridad! Queremos que te sientas cómodo, olvida el estrés y encuentra el espacio
                        ideal mientras estás en época de estudios universitarios.</p>
                    <p class="mt-4 text-gray-600"></p>
                </div>
            </div>
        </div>
    </div>
</section>